.speech{
    font-family:  sans-serif;
    font-size: 16px;
    color: rgb(0,0,0);
}
.stage-direction{
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(0,0,0);
    background-color: rgb(192, 192, 192);
}
.name{
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(0,0,0);
}
.stage-direction:hover{
    background-color: green;
    color:rgb(255, 165, 0);
    cursor: pointer;
}

.gwendolen{
    color:rgb(60, 0, 128);
}
.cecily{
    color: rgb(122, 253, 0);
}
.algernon{
    color: rgb(255, 153, 153);
}